<div id="header">
    <a href="http://www.dashcommerce.org">
        <img src="images/logo.gif" /></a>
    <div style="float: right;">
        <a href="https://twitter.com/dashcommerce" class="twitter-follow-button" data-show-count="false"
            data-size="large">Follow @dashcommerce</a>
        <script type="text/javascript">!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>
<div id="navigation">
    <ul>
        <li class="nav"><a href="http://www.dashcommerce.org">Home</a></li>
        <li class="nav"><a href="http://www.dashcommerce.org/license.html">License</a></li>
        <li class="nav"><a href="http://github.com/dashcommerce/dashcommerce-3">Code</a>
        </li>
        <li class="nav"><a href="http://github.com/dashcommerce/dashcommerce-3/wiki">Wiki</a>
        </li>
    </ul>
</div>
