 <h2>{{ site.author }}</h2>
 <hr>
 <p class="lead">
     dashCommerce is a flexible and robust Open Source e-commerce application that you can use to
     set up your online store. dashCommerce has been available since early 2008 and has been used in countless
     online stores and is wildly successful. "How successful?" you might ask? Well, dashCommerce has the
     following achievements to its credit:
 <ol>
     <li>Was recognized by PayPal as a Top 25 integration within 1.5 years of being launched.</li>
     <li>Is licensed by the US Government for use in creating online stores for the Armed Services.</li>
     <li>Used throughout the world to generate many millions of dollars in revenue</li>
 </ol>
 </p>